body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav, h1, figure {
  text-align: center;
}

nav a{
  padding:10px;
  background-color: grey;
}

figcaption{
  font-size: small;
}

#featured-property p {
   width:700px;
   padding-left:500px;
   text-align:center
}

#details div {
  float: left;
  width:250px;
  background-color:red;
  padding-left:20px;
   
}

#details {
 padding-left:400px;
}